

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<meta encoding ="utf-8">

<app-navbar></app-navbar>
<div class="container-fluid" style="margin-top:100px">
  <div class="row" >

      <div class="col-md-2" style="background:green">first</div>
      <div class="col-md-8" >
          <router-outlet></router-outlet>
      </div>
    <div class="col-md-2 " style="background:rgb(183, 101, 231)">third</div>
  </div>
</div>
 

