
        <article class="post tag-angular-core" >
                <div class="post-header-academy" >
                    <a href="https://angular-university.io">
                      <img src="assets/img/angular.png" style="height:100px;width:100px">
                      
                    </a>
                </div>
                <header class="post-header" style="padding:2rem">
                    <h1 class="post-title" style="text-align: center;">
                            Common Sentences
                    </h1>
                    <h2 class="post-title" style="text-align: center;">    
                            ਆਮ ਵਾਕ              
                    </h2>
        
                  </header>  
                  <section class="post-content" style="padding:2rem">
                        <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>John</td>
                                    <td>Doe</td>
                                    <td>john@example.com</td>
                                  </tr>
                                  <tr>
                                    <td>Mary</td>
                                    <td>Moe</td>
                                    <td>mary@example.com</td>
                                  </tr>
                                  <tr>
                                    <td>July</td>
                                    <td>Dooley</td>
                                    <td>july@example.com</td>
                                  </tr>
                                </tbody>
                              </table>
                  </section>
                    </article> 
        
       
        